@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Righteous&display=swap');

/*
font-style: 400;    --> Regular
font-style: 700;    --> Bold
font-size: 16px = 1rem
*/

/*variables en css*/
:root{
   
    /*COLORES*/
    --Black: #0d0b02;
    --White: #fffbf6;
    --Yellow: #ffe332;
    --Green: #01b352;
    --GreenLight: #02ff75;
    --Pink: #ff5e5e;
    --PinkDark: #CC4B4B;
    --PinkLight: #ff9e9e;
    --Blue:  #45c1d3;
    --BlueLight: #8edae6;
    --Violet: #de7dff;
    --VioletDark: #9b58b3;
    --Orange: #FEB444;

    /*FONTS*/
    --font-Body-OpenSans: "Open Sans", sans-serif;
    --font-Headline-Righteous: "Righteous", sans-serif;
    --font-Label-LexendMega: "Lexend Mega", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Black);
}

header{
    width: 100%;
    height: 13.28vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: url(/assets/Puntos.png) right no-repeat;
    background-size: contain;
    background-color: var(--Orange);
    padding-left: 4.44%;
    border-top: 4px solid var(--Black);
    border-left: 4px solid var(--Black);
    border-right: 4px solid var(--Black);
    border-bottom: 2px solid var(--Black);
    .headline{
        font-family: var(--font-Headline-Righteous);
        font-size: 3.5rem;
        font-weight: 400;
        color: var(--Black);
        justify-content: left;
    }
}

main{
    width: 100%;
    height: 86.72vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 4.44%;
    align-items: flex-start;
    padding-left: 6.44%;
    padding-right: 6.44%;
    border-top: 2px solid var(--Black);
    border-left: 4px solid var(--Black);
    border-right: 4px solid var(--Black);
    background: url(/assets/Muñeco.png) center no-repeat scroll, url(/assets/Estrellas.png) center no-repeat scroll;
    background-color: var(--Green);
    background-size: contain, cover;
}

.button__swap__area{
    width: 7.78%;
    height: 100%;
    padding-top: 8%;
    padding-right: 8px;
    
    .btn__swap{
        width: 6rem;
        height: 6rem;
        background-color: var(--Yellow);
        border: 2px solid var(--Black);
        box-shadow: 4px 8px 0px var(--Black);
        padding: 0.75rem;
        transition-duration: 0.4s;
        cursor: pointer;
        .swap__img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
        }
    }
    .btn__swap:hover{
        background-color: var(--GreenLight);
        border: 4px solid var(--Black);
        box-shadow: 0px 0px 0px var(--Black);
    }
}

/*organiza elementos izquierda-derecha*/
.container{
    width: 37.22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    padding: 4% 0;
    align-items: center;
    
    .textBox__area{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        .textBox__label{
            width: 100%;
            height: 8.5%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 1%;
            background-color: var(--Violet);
            border-top: 2px solid var(--Black);
            border-left: 2px solid var(--Black);
            border-right: 2px solid var(--Black);
            border-bottom: 1px solid var(--Black);
            .textBox__label__text{
                font-family: var(--font-Label-LexendMega);
                font-size: 1rem;
                font-weight: 700;
                color: var(--Black);
                justify-content: left;
            }
            .textBox__label__icon{
                width: 10.45%;
                height: 100%;
                background-color: var(--VioletDark);
                border-left: 2px solid var(--Black);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .icon__arrowDown{
                    height: 50%;
                }
            }
        }
        .textBox{ /*recuadro para ingresar el texto a encriptar o desencriptar*/
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
            align-items: center;
            background-color: var(--White);
            border-top: 1px solid var(--Black);
            border-left: 2px solid var(--Black);
            border-right: 2px solid var(--Black);
            border-bottom: 2px solid var(--Black);
            padding: 16px;
            textarea{ /*como se va a ver el texto escrito*/
                width: 100%;
                height: 90%;
                background-color: var(--White);
                color: var(--PinkDark);
                font-family: var(--font-Body-OpenSans);
                font-size: 1.5rem;
                font-weight: 400;
                text-align: left;
                border: none;
                outline: transparent;
                line-height: 150%;
                resize: none;
                textarea:focus{
                    outline: none;
                }
            }
            .advertencia__area{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                gap: 16px;
                .advertencia__icono{
                    height: 1rem;
                }
                .advertencia__texto{
                    font-family: var(--font-Body-OpenSans);
                    font-size: 1rem;
                    font-weight: 400;
                    color: var(--Black);
                }
            }
        }
        
          
        ::placeholder{ /*mensaje que ahí debe escribirse*/
            color: var(--Black);
            font-family: var(--font-Label-LexendMega);
            font-size: 1rem;
            font-weight: 600;
        }    
    }

    .buttons__area{
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: center;
        .btn__encriptar, 
        .btn__copiar__encriptado,
        .btn__desencriptar,
        .btn__copiar__desencriptado {
            width: 50%;
            height: 3.5rem;
            font-family: var(--font-Label-LexendMega);
            font-size: 1rem;
            font-weight: 700;
            color: var(--Black);
            border: 2px solid var(--Black);
            box-shadow: 4px 8px 0px var(--Black);
            padding: 8px 24px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        .btn__encriptar{
            background-color: var(--Pink);
        }
        .btn__copiar__encriptado{
            background-color: var(--PinkLight);
        }
        .btn__desencriptar{
            background-color: var(--Blue);
        }
        .btn__copiar__desencriptado{
            background-color: var(--BlueLight);
        }
        .btn__encriptar:hover, 
        .btn__copiar__encriptado:hover, 
        .btn__desencriptar:hover, 
        .btn__copiar__desencriptado:hover{
            background-color: var(--GreenLight);
            border: 4px solid var(--Black);
            box-shadow: 0px 0px 0px var(--Black);
        }
    }
}

.footer{
    width: 100%;
    background-color: var(--Black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding: 20px 20px 20px 20px;
    .footer__text{
        font-family: var(--font-Body-OpenSans);
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--White);
    }
    .footer__link__area{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }
}


/*FORMATO DE LOS POPUP o MENSAJES*/
.popup__texto{
    font-family: var(--font-Body-OpenSans);
    font-size: 1rem;
    font-weight: 400;
    color: var(--Black);
    padding: 1%;
}

.popup__box{
    background-color: var(--White);
    width: 50%;
    padding: 24px;
    border-radius: 0px;
    box-shadow: 4px 8px 0px var(--Black);
}

.popup__button{
    width: 220px;
    height: 56px;
    font-family: var(--font-Label-LexendMega);
    font-size: 1rem;
    font-weight: 400;
    color: var(--Black);
    background-color: var(--VioletDark);
    border: 2px solid var(--Black);
    box-shadow: 4px 8px 0px var(--Black);
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.popup__button:hover{
    background-color: var(--GreenLight);
    border: 4px solid var(--Black);
    box-shadow: 0px 0px 0px var(--Black);
}

.popup__closeButton{
    color: var(--Black);
}

.popup__closeButton:hover{
        color: var(--GreenLight);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
/*DISEÑO RESPONSIVO - TABLET*/
@media (max-width: 942px) {
    .main{
        flex-direction: column;
        height: 100%;
    }
   
    .swapImgModoClaro, .swapImgModoOscuro{
        margin: 24px 0px;
    }
   
    /*organiza elementos izquierda-derecha*/
    .container{
        width: 100%;
        height: 50%;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
    .footer__link__area{
        padding: 32px 0px 0px;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
/*DISEÑO RESPONSIVO - CELULAR*/
@media (max-width: 600px) {
   
    /*botones - definición del espacio que ocupan*/
    .buttons__area{
        height: 96px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*botones - formato*/
    .buttons__encriptar{
        width: 100%;
        margin: 4px 0px;
    }  

    .buttons__desencriptar{
        width: 100%;
        margin: 4px 0px;    
    }

    .buttons__copiar{
        width: 100%;
        height: 95%;
        padding: 0%;
    }
}