@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Righteous&display=swap');

/*
font-style: 400;    --> Regular
font-style: 700;    --> Bold
font-size: 16px = 1rem
*/

/*variables en css*/
:root{
   
    /*COLORES*/
    --Black: #0d0b02;
    --White: #fffbf6;
    --Yellow: #ffe332;
    --Green: #01b352;
    --GreenLight: #02ff75;
    --Pink: #ff5e5e;
    --PinkLight: #ff9e9e;
    --Blue:  #45c1d3;
    --BlueLight: #8edae6;
    --Violet: #de7dff;
    --VioletDark: #9b58b3;
    --Orange: #FEB444;

    /*FONTS*/
    --font-Body-OpenSans: "Open Sans", sans-serif;
    --font-Headline-Righteous: "Righteous", sans-serif;
    --font-Label-LexendMega: "Lexend Mega", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Black);
}

.header{
    height: 13.28%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: var(--Orange);
    padding-left: 4.38%;
    border-top: 4px solid var(--Black);
    border-left: 4px solid var(--Black);
    border-right: 4px solid var(--Black);
    border-bottom: 2px solid var(--Black);
}

.headline{
    font-family: var(--font-Headline-Righteous);
    font-size: 3rem;
    font-weight: 400;
    color: var(--Black);
    justify-content: left;
}

.main{
    width: 100%;
    height: 73.44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4.38%;
    align-items: flex-start;
    padding-left: 4.38%;
    padding-right: 4.38%;
    background-color: var(--Green);
    border-top: 2px solid var(--Black);
    border-left: 4px solid var(--Black);
    border-right: 4px solid var(--Black);
}

.button__swap__area{
    padding-top: 10%;
}

.button__swap{
    width: 112px;
    height: 112px;
    background-color: var(--Yellow);
    border: 2px solid var(--Black);
    box-shadow: 4px 8px 0px var(--Black);
    padding: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.swap__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}



/*organiza elementos izquierda-derecha*/
.container{
    width: 37.22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 40px 0px;
    align-items: center;
}

    .textBox__area{
        width: 100%;
        height: 73.40%;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

        .textBox__label{
            width: 100%;
            height: 20.14%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--Violet);
            border-top: 2px solid var(--Black);
            border-left: 2px solid var(--Black);
            border-right: 2px solid var(--Black);
            border-bottom: 1px solid var(--Black);
        }

            .textBox__label__text{
                font-family: var(--font-Label-LexendMega);
                font-size: 1rem;
                font-weight: 700;
                color: var(--Black);
                justify-content: left;
            }

            .textBox__label__icon{
                width: 10.54%;
                height: 100%;
                background-color: var(--VioletDark);
                border-left: 2px solid var(--Black);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .icon__arrowDown{
                    width: 50%;
                    height: 50%;
                }

        .textBox{ /*recuadro para ingresar el texto a encriptar o desencriptar*/
            width: 100%;
            height: 79.86%;
            text-align: left;
            resize: none;
            background-color: var(--White);
            border-top: 1px solid var(--Black);
            border-left: 2px solid var(--Black);
            border-right: 2px solid var(--Black);
            border-bottom: 2px solid var(--Black);    
            padding: 24px;
        }
          
            textarea{ /*como se va a ver el texto escrito*/
                color: var(--Black);
                font-family: var(--font-Body-OpenSans);
                font-size: 1.5rem;
                font-weight: 400;
                border: none;
                outline: transparent;
                line-height: 150%;
            }

            ::placeholder{ /*mensaje que ahí debe escribirse*/
                color: var(--Black);
                font-family: var(--font-Label-LexendMega);
                font-size: 1rem;
                font-weight: 400;
        }

/*mensaje de adevrtencia - definición del espacio que ocupa*/
.advertencia__area{
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 16px;
    padding-left: 4px;
}

/*mensaje de adevrtencia - formato del ícono*/
.advertencia__icono{
    width: 24px;
    height: 24px;
}

/*mensaje de adevrtencia - formato del texto*/
.advertencia__texto{
    font-family: var(--font-Body-OpenSans);
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--Black);
}

/*botones - definición del espacio que ocupan*/
.buttons__area{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

/*botones - formato*/
.buttons__encriptar{
    width: 50%;
    height: 56px;
    font-family: var(--font-Label-LexendMega);
    font-size: 1rem;
    font-weight: 700;
    color: var(--Black);
    background-color: var(--Pink);
    border: 2px solid var(--Black);
    box-shadow: 4px 8px 0px var(--Black);
    padding: 8px 24px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons__copiar__encriptado{
    width: 50%;
    height: 56px;
    font-family: var(--font-Label-LexendMega);
    font-size: 1rem;
    font-weight: 700;
    color: var(--Black);
    background-color: var(--PinkLight);
    border: 2px solid var(--Black);
    box-shadow: 4px 8px 0px var(--Black);
    padding: 8px 24px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons__desencriptar{
    width: 50%;
    height: 56px;
    font-family: var(--font-Label-LexendMega);
    font-size: 1rem;
    font-weight: 700;
    color: var(--Black);
    background-color: var(--Blue);
    border: 2px solid var(--Black);
    box-shadow: 4px 8px 0px var(--Black);
    padding: 8px 24px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons__copiar__desencriptado{
    width: 50%;
    height: 56px;
    font-family: var(--font-Label-LexendMega);
    font-size: 1rem;
    font-weight: 700;
    color: var(--Black);
    background-color: var(--BlueLight);
    border: 2px solid var(--Black);
    box-shadow: 4px 8px 0px var(--Black);
    padding: 8px 24px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons__encriptar:hover, .buttons__copiar__encriptado:hover, .buttons__desencriptar:hover, .buttons__copiar__desencriptado:hover, .button__swap:hover, .popup__button:hover{
    background-color: var(--GreenLight);
    border: 4px solid var(--Black);
    box-shadow: 0px 0px 0px var(--Black);
}

/*FOOTER*/
.footer{
    height: 13.28%;
    width: 100%;
    background-color: var(--Black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding: 20px 20px 20px 20px;
}

.footer__text{
    font-family: var(--font-Body-OpenSans);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--White);
}

.footer__link__area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    height: 24px;
}

.footer__link__icon{
    width: 36px;

}

/*FORMATO DE LOS POPUP o MENSAJES*/
.popup__texto{
    font-family: var(--font-Body-OpenSans);
    font-size: 1rem;
    font-weight: 400;
    color: var(--Black);
    padding: 1%;
}

.popup__box{
    background-color: var(--White);
    width: 50%;
    padding: 24px;
    border-radius: 0px;
    box-shadow: 4px 8px 0px var(--Black);
}

.popup__button{
    width: 220px;
    height: 56px;
    font-family: var(--font-Label-LexendMega);
    font-size: 1rem;
    font-weight: 400;
    color: var(--Black);
    background-color: var(--VioletDark);
    border: 2px solid var(--Black);
    box-shadow: 4px 8px 0px var(--Black);
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.popup__closeButton{
    color: var(--Black);
}

.popup__closeButton:hover{
        color: var(--GreenLight);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
/*DISEÑO RESPONSIVO - TABLET*/
@media (max-width: 942px) {
    .main{
        flex-direction: column;
        height: 100%;
    }
   
    .swapImgModoClaro, .swapImgModoOscuro{
        margin: 24px 0px;
    }
   
    /*organiza elementos izquierda-derecha*/
    .container{
        width: 100%;
        height: 50%;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
    .footer__link__area{
        padding: 32px 0px 0px;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
/*DISEÑO RESPONSIVO - CELULAR*/
@media (max-width: 600px) {
   
    /*botones - definición del espacio que ocupan*/
    .buttons__area{
        height: 96px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*botones - formato*/
    .buttons__encriptar{
        width: 100%;
        margin: 4px 0px;
    }  

    .buttons__desencriptar{
        width: 100%;
        margin: 4px 0px;    
    }

    .buttons__copiar{
        width: 100%;
        height: 95%;
        padding: 0%;
    }
}